<ul class="scores">
  <li>
    <%= link_to image_tag("list0.jpg", alt: "Baba Forum"), "http://www.babaforum.org/" %>
    Baba Forum
    <strong><%= Item.total_points 0 %> <small>pts</small></strong>
  </li>
  <li>
    <%= link_to image_tag("list1.jpg", alt: "Forum Boyard"), "http://www.bonjour404.fr/random/" %>
    Forum Boyard
    <strong><%= Item.total_points 1 %> <small>pts</small></strong>
  </li>
</ul>