<header>
  <h1>Challenges</h1>

  <% if @items.empty? %>
    <p class="big-link">Aucun challenge pour le moment :(</p>
  <% else %>
  <ul class="items challenges">
    <% @items.each do |i| %>
      <li>
        <strong><%= i.points %> <small>pts</small></strong>
        <%=auto_link i.title %>
      </li>
    <% end %>
  </ul>
  <% end %>
</header>

<p class="big-link"><%= link_to "Retour à l'accueil", home_path %></p>