// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/


/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
*/

@cloud: #ecf0f1;
@blue: #2c3e50;


body {
  background-color: @blue;
  color: @cloud;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}


header {
  color: @blue;
  background-color: @cloud;
  padding-bottom: 7em;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 100;
  font-size: 6em;
  line-height: 2em;
  text-align: center;
  margin: 0;
}


.best-list {
  font-size: 3.5em;
  line-height: 1.2em;
  text-align: center;

  img {
    width: 20%;
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }

  strong {
    display: block;
    font-size: 1.7em;
    line-height: 1.4em;
    font-weight: 300;
  }
}


.scores {
  list-style: none;
  font-size: 3.5em;
  margin: 0;
  margin-top: 1em;

  img {
    width: 20%;
    display: block;
    margin: auto;
  }

  li {
    display: inline-block;
    width: 49%;
    text-align: center;
    line-height: 2em;

    strong {
      display: block;
      font-size: 2em;

      small { 
        font-size: 0.3em; 
        font-weight: 100;
      }
    }
  }
}


.items {
  list-style: none;
  font-size: 2em;
  margin: 0;

  li {
    width: 43%;
    text-align: center;
    line-height: 2em;
    clear: both;

    &.list0 {
      margin-left: 5%;

      strong {
        float: right;
      }
    }

    &.list1 {
      margin-left: 50%;

      strong {
        float: left;
      }
    }
  }
}