<h1>Logs</h1>

<table>
  <thead>
    <tr>
      <th>Admin</th>
      <th>Item ID</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |l| %>
    <tr>
      <td><%= l.admin %></td>
      <td><%= l.item_id %></td>
      <td><%= l.content %></td>
    </tr>
    <% end %>
  </tbody>
</table>
